/* Import fonts */

@import url(../css/fonts.css);
@import url(../variables/var.css);

/*nav*/

.nav-header .nav-menu .navbar .navbar-brand{
    padding: 0.2rem 0.5rem;
}

.nav-header .nav-menu .navbar{
    padding: 1rem 10rem;
}

.nav-header .nav-menu .nav-item .nav-link{
    font-family: Ver(--ubuntu);
    text-transform: uppercase;
    font-weight: 500;
    color: var(--text-color);
}

.nav-header .nav-menu .navbar-nav .active a{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/*nav*/